<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/index.css">
  <title>Header</title>
</head>
<body>
  <header class="header">
    <nav class="nav">
      <ul class="ul__list">
        <li class="nav__item">
          <a href="#" class="nav__link">About us</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Work</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            <img src="../images/yebo-logo.png" alt="yebo" class="nav__logo">
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Shop</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
</body>
</html>